/*-- scss:defaults --*/
$lincoln-green: #105622 !default;
$eerieblack:    #171614 !default;
$bluesapphire:  #0C556D !default;
$blue-ncs:      #0094C6 !default;
$wintergreen:   #6B8F7E !default;
$old-gold:      #D1B817 !default;
$bronze:        #D58936 !default;
$outerspace:    #37423D !default;
$kobe:          #942911 !default;

$primary: $eerieblack !default;
$success: $lincoln-green !default;
$info:    $blue-ncs !default;
$warning: $bronze !default;
$danger:  $kobe !default;

$callout-color-important: $primary !default;
$callout-color-note: $info !default;
$callout-color-tip: $lincoln-green !default;
$callout-color-warning: $warning !default;

/*-- scss:rules --*/
:root {
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-color: var(--bs-gray-700);
}

h1, h2, h3, h4, h5 {
  color: $primary;
}

strong, b, a {
  color: $kobe;  
}

.quarto-figure .figure-caption {
  font-size: 0.8rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#quarto-header nav {
  background-color: $primary;
}

.navbar {
  border-color: $primary;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 475px;
}

@media only screen and (max-width: 600px) {
 .slide-deck {
    height: 400px;
  }
}

code {
  background-color: "#C2C2C2";
  color: $bluesapphire;
}

.listing-description {
  width: 55%;
}

.listing-description {
  color: var(--bs-gray-600);
  font-size: 0.9em;
}

.listing-date {
  color: $kobe;
  width: 15%;
}

.listing-title {
  color: $kobe;
  width:30%;
}

#title-block-header .description {
  color: var(--bs-gray-600);
  font-size: 0.9em;
}

h2[data-anchor-id="outline"]:before,
a[data-scroll-target="#outline"]:before {
  content: "\01F4CB \00a0";
}

h3[data-anchor-id="objectives"]:before,
a[data-scroll-target="#objectives"]:before {
  content: "\01F3AF \00a0";
}

h3[data-anchor-id="r-packages"]:before,
a[data-scroll-target="#r-packages"]:before {
  content: "\01F4E6  \00a0";
}

h3[data-anchor-id="data"]:before,
a[data-scroll-target="#data"]:before {
  content: "\01F4BE  \00a0";
}

h3[data-anchor-id="exercises"]:before,
a[data-scroll-target="#exercises"]:before {
  content: "\01F3CB  \00a0";
}

h2[data-anchor-id="homework"]:before,
a[data-scroll-target="#homework"]:before {
  content: "\01F3E0 \00a0";
}

h3[data-anchor-id^="exercises"]:before,
a[data-scroll-target^="#exercises"]:before {
  content: "\01F3CB  \00a0";
}

.lincoln {
  color: $lincoln-green;
}

.lincoln-bg {
  background-color: $lincoln-green;
}

.eerie {
  color: $eerieblack;
}

.eerie-bg {
  background-color: $eerieblack;
}

.sapphire {
  color: $bluesapphire;
}

.sapphire-bg {
  background-color: $bluesapphire;
}

.blue-ncs {
  color: $blue-ncs;
}

.blue-ncs-bg {
  background-color: $blue-ncs;
}

.winter {
  color: $wintergreen;
}

.winter-bg {
  background-color: $wintergreen;
}

.gold {
  color: $old-gold;
}

.gold-bg {
  background-color: $old-gold;
}

.bronze {
  color: $bronze;
}

.bronze-bg {
  background-color: $bronze;
}

.outerspace {
  color: $outerspace;
}

.outerspace-bg {
  background-color: $outerspace;
}

.kobe {
  color: $kobe;
}

.kobe-bg {
  background-color: $kobe;
}

.skim-table table {
  font-size: 0.8rem;
}

.skim-table table:first-child {
  width: 50%;
}

.skim-table table:not(:first-child) {
  width: 100%;
}