
html {
  line-height: 1.4;
}

ol li ul {
  margin-top: 0.4rem;
  margin-bottom: 1.0rem;
}

ul li ul {
  margin-top: 0.4rem;
  margin-bottom: 1.0rem;
}

ol > li {
  margin-bottom: 0.25rem;
}

ul {
  margin-top: 5px;
}

p {
  margin-bottom: 10px;
}

.highlight-last-item > ul > li,
.highlight-last-item > ol > li {
  opacity: 0.4;
}

.highlight-last-item > ul > li:last-of-type,
.highlight-last-item > ol > li:last-of-type {
  opacity: 1;
}


/* 
for xaringanExtra panelset, 
to ensure that they all span 
the entire available space 
*/
.panel-active{
  width: 100%;
}

/* Make inline code slightly smaller; prevents vertical jumps
   from slides with to slides without inline code. */ 
.remark-inline-code { font-size: 0.94em; line-height: 1.0; }

/*
font stuff
*/
.large { 
  font-size: 130%; 
}

.small { 
  font-size: 70%; 
}

.tiny{
  font-size: 40%;
}

.pull-lleft {
  float: left;
  width: 15%;
}

.pull-lright {
  float: right;
  width: 84%;
}

.pull-lright ~ * {
  clear: both;
}

.pull-rleft {
  float: left;
  width: 60%;
}

.pull-rright {
  float: right;
  width: 37%;
}

.pull-rright ~ * {
  clear: both;
}


.pull-left-38 {
  float: left;
  width: 38%;
}

.pull-right-60 {
  float: right;
  width: 60%;
}

.pull-right-60 ~ * {
  clear: both;
}

.pull-left-40 {
  float: left;
  width: 58%;
}

.pull-right-40 {
  float: right;
  width: 40%;
}

.pull-right-40 ~ * {
  clear: both;
}
