/*-- scss:defaults --*/
$lincoln-green: #105622 !default;
$eerieblack:    #171614 !default;
$bluesapphire:  #0C556D !default;
$blue-ncs:      #0094C6 !default;
$wintergreen:   #6B8F7E !default;
$bronze:        #D58936 !default;
$outerspace:    #37423D !default;
$kobe:          #942911 !default;

$primary: $eerieblack !default;
$success: $lincolng-green !default;
$info:    $blue-ncs !default;
$warning: $bronze !default;
$danger:  $kobe !default;

$presentation-font-size-root: 30px;
$presentation-line-height: 1.2;
$presentation-h2-font-size: 1.8em;

/*-- scss:rules --*/
.reveal .slide ul li, 
.reveal .slide ol li {
  margin-top: 0.3em !important;
  margin-bottom: 0.15em !important;
}

strong, b, a {
  color: $kobe;  
}
