/*-- scss:defaults --*/
$lincoln-green: #105622 !default;
$eerieblack:    #171614 !default;
$bluesapphire:  #0C556D !default;
$blue-ncs:      #0094C6 !default;
$wintergreen:   #6B8F7E !default;
$old-gold:      #D1B817 !default;
$bronze:        #D58936 !default;
$outerspace:    #37423D !default;
$kobe:          #942911 !default;

$primary: $eerieblack !default;
$success: $lincoln-green !default;
$info:    $blue-ncs !default;
$warning: $bronze !default;
$danger:  $kobe !default;

$presentation-font-size-root: 28px;
$presentation-h2-font-size: 1.8em;

/*-- scss:rules --*/
.reveal .slide ul li, 
.reveal .slide ol li {
  margin-top: 0.3em !important;
  margin-bottom: 0.15em !important;
}

.reveal .panel-tabset [role=tab] {
  padding: 0.25em 0.5em;
}

strong, b, a {
  color: $kobe;  
}

.ml-0 {
  margin-left: 0 !important;  
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 1.5em !important;
}

.w100 {
  width: 100%;
}

.flt .fragment {
  margin: 0 auto auto 0 !important;
}

.lincoln {
  color: $lincoln-green;
}

.lincoln-bg {
  background-color: $lincoln-green;
}

.eerie {
  color: $eerieblack;
}

.eerie-bg {
  background-color: $eerieblack;
}

.sapphire {
  color: $bluesapphire;
}

.sapphire-bg {
  background-color: $bluesapphire;
}

.blue-ncs {
  color: $blue-ncs;
}

.blue-ncs-bg {
  background-color: $blue-ncs;
}

.winter {
  color: $wintergreen;
}

.winter-bg {
  background-color: $wintergreen;
}

.gold {
  color: $old-gold;
}

.gold-bg {
  background-color: $old-gold;
}

.bronze {
  color: $bronze;
}

.bronze-bg {
  background-color: $bronze;
}

.outerspace {
  color: $outerspace;
}

.outerspace-bg {
  background-color: $outerspace;
}

.kobe {
  color: $kobe;
}

.kobe-bg {
  background-color: $kobe;
}

.center {
  margin-right: auto;
  margin-left: auto;
}