
html {
  overflow-y: scroll;
}

strong {
  color: #A20000;
}

a {
  color: #A20000;
}

a:hover {
  color: #A20000;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #9e9a99;
}

h2 {
  display: flex;
  flex-direction: row;
  margin-top: 0.3em;
  font-weight: bold;
}

#Outline h2:before {
  content: "\01F4CB \00a0";
}

li[data-unique = "Outline"]:before {
  content: "\01F4CB \00a0";
}

#objectives h3:before {
  content: "\01F3AF \00a0";
}

#r-packages h3:before {
  content: "\01F4E6  \00a0";
}

#data h3:before {
  content: "\01F4BE  \00a0";
}

div[id*="exercises"] h3:before {
  content: "\01F3CB  \00a0";
}

#Homework h2:before {
  content: "\01F3E0 \00a0";
}

li[data-unique = "Homework"]:before {
  content: "\01F3E0 \00a0";
}

.toc-content {
  margin-top: 1em;
  padding-top: 25px;
}

h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid 	#8C8882;
  margin: auto auto 7px 3px;
}

h3 {
  margin-top: 2em;
}

li ul {
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
}

div[id*="exercises"] ol {
  padding-left: 18px;
}

.homework ol {
  padding-left: 18px;
}

.main-container {
  max-width: 1200px !important;
}

/* toggle sections -- very hacky code */

.section.level2 {
  display: none
}

#TOC {
  margin: 21px 0px 20px 0px;
}

.tocify {
  border: none !important;
}



.container-fluid.main-container {
  margin-top: 2em;
}


/* relative paths built by knitr are confusing */

.rmdcaution {
  background-image: url(../../images/caution.png);
}

.rmdnote {
  background-image: url(../../images/fyi.png);
}

/*

# fyi.png from 
# https://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/

*/

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 100px;
  color: #1f5386;
  background-color: #bed3ec;
  border: solid 5px #dfedff;
}

.rmdcaution p {
  margin-bottom: 0;
}

.rmdnote p {
  margin-bottom: 0;
}

.rmdexamples {
  background-color: #f7f7f7;
}

.tocify-extend-page {
  display: none;
}

.figure {
  width: 100%;
}